/* Body */

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* Section 1 */

#section_1 {
    background-color: #000000;
}

#section_1 h1 {
    color: #FFFFFF;
}

#section_1 p {
    color: #FFFFFF;
}

/* Section 2 */

#text_1 h1 {
    text-align: left;
}

#text_1 p {
    text-align: left;
}

#text_2 h1 {
    text-align: right;
}

#text_2 p {
    text-align: right;
}

#text_3 h1 {
    text-align: left;
}

#text_3 p {
    text-align: left;
}

/* Canvas */

#canvas_div {
    float: left;
}

#injectionDiv {
    float: right;
}
