body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

#section_1 {
    background-color: #000000;
}

#section_1 h1 {
    color: #FFFFFF;
}

#section_1 p {
    color: #FFFFFF;
}

#text_1 h1 {
    text-align: left;
}

#text_1 p {
    text-align: left;
}

#text_2 h1 {
    text-align: right;
}

#text_2 p {
    text-align: right;
}

#text_3 h1 {
    text-align: left;
}

#text_3 p {
    text-align: left;
}

#wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}

#cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

#cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

#back {
	transform: translateZ(-100px) rotateY(180deg);
	background-color: #000000;
}

#right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
	background-color: #000000;
}

#left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
	background-color: #000000;
}

#top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
	background-color: #000000;
}

#bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
	background-color: #000000;
}

#front {
	transform: translateZ(100px);
	background-color: #000000;
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

#cube {
	animation: spin 5s infinite linear;
}
